[submodule "3DickUlus"]
	path = 3DickUlus
	url = https://github.com/3Dickulus/My_Fragments
[submodule "kosalos"]
	path = kosalos
	url = https://github.com/Kosalos/KosalosFrags.git
[submodule "mclarekin"]
	path = mclarekin
	url = https://github.com/mclarekin/mclarekinfrags
[submodule "TGlad"]
	path = TGlad
	url = https://github.com/TGlad/FragmentariumExamples.git
[submodule "Claude"]
	path = Claude
	url = https://github.com/claudeha/fragm-examples.git
	branch = main
